* {
	padding: 0;
	margin: 0;
}

body {
	font-family: "Montserrat";
	line-height: 1.5;
	text-transform: none;
	letter-spacing: .02em;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
}

p {
	font-weight: 300;
	color: #737373;
	font-size: 0.9em;
	text-rendering: optimizeLegibility;
}

a {
	text-decoration: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 20px;
  color: black;
}

::-moz-placeholder { /* Firefox 19+ */
  font-size: 20px;
  color: black;
  letter-spacing: 0em;
}

:-ms-input-placeholder { /* IE 10+ */
  font-size: 1.25em;
  color: #737373;
}

:-moz-placeholder { /* Firefox 18- */
  font-size: 1.25em;
  color: #737373;
}

.top_nav {
	position: fixed;
	top: 0px;
	max-height: 100px;
	width: 100%;
	padding-top: 10px;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	font-family: "Montserrat", sans-serif;
	display: block;
	z-index: 100;
	background-color: rgba(255, 255, 255, 0.0);
}

.sticky {
    opacity: 1;
    top: 0px;
}

.home {
	padding-top: 10px;
}

.little {
	height: 35px;
	padding-top: none;
	background-color: rgba(255, 255, 255, 0.8);
	border-bottom: 1px solid gainsboro;
}

nav {
	list-style: none;
	text-align: center;
	position: fixed;
	width: 100%;
	margin: 0 auto 20px auto;
}

nav > li {
	display: inline-block;
}
nav > li:not(:first-child) {
  margin-left: 4.5em;
}

.top_nav_link {
	font-size: 1.2em;
	text-transform: uppercase;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.black {
    color: #333;
}

.blue {
	color: #0073CF;
}

.blue:hover {
	color: #777;
}

.white {
	color: #FFFFFF;
}

.white:hover {
	color: #111;
}

.black:hover {
	color: #0073CF;
}

.small_link	{
	font-size: 1em;
}

.small_link:hover {
	color: #0073CF;
}

#hero {
	width: 100%;
	height: 69vh;
	min-height: 350px;
	max-height: 900px;
	background: #0073CF;
	text-align: center;
}

#hero_float {
	width: 100%;
	height: 31vh;
	float: left;

}

#hero_name, #hero_desc {
	letter-spacing: .04em;
	color: #FFF;
	display: block;
}

#hero_name {
	font-weight: 300;
	font-size: 4vmax;
}

#hero_desc {
	font-weight: 200;
	font-size: 2.75vmax;
	line-height: 1;
}


#about_container {
	background-color: #fefefe;
	width: 100%;
	word-wrap: break-word;
	display: block;
	z-index: 10;
	padding-bottom: 4em;
}

#intro_content {
	padding-top: 2.5em;
	width: 100%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	max-width: 65em;
	overflow: hidden;
}

#intro_content p {
	text-align: left;
	line-height: 36px;
	font-size: 1.3em !important;
	letter-spacing: .03em;
	padding-left: 8%;
	padding-right: 8%;
}

.body_link:hover, #article_body > p > a{
	color: #333;
	border-bottom: solid 2px #80B9E7;
	background-color: #FFF;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.body_link, #article_body > p > a:hover{
	color: #333;
	background-color: #CCE3F5;
}

.avatar_column {
	width: 24%;
	display: inline-block;
}

.fourth_column {
	width: 45%;
	display: inline-block;
}

.three_fourths_column {
	width: 74%;
	display: inline-block;
}

.three_fourths_column > h2 {
	margin-top: .8em;
	text-align: left;
	padding-left: 8%;
	padding-right: 8%;
	font-weight: normal;
}

#intro_photo {
	width: 100%;
	border-radius: 50%;
	filter: grayscale(30%);
}

.portfolio_item {
	width: 100%;
	background: #f1f1f0;
}

.portfolio_item > p {
	color: #737373;
}

.p_item_container {
	max-width: 80em;
	margin: 0 auto;
	padding: 4em 0;
}

.portfolio_image {
	display: inline-block;
	width: 100%;
}

.portfolio_image:hover {
	opacity: .5;
}


.portfolio_title {
	font-size: 2em;
	color: #0073CF;
}

.tech_list {
	width: 100%;
}

.tech_div {
	display: inline-block;
	margin-top: .75em;
}

.tech {
	font-size: 1.05em;
	color: #333;
	background-color: #CCE3F5;
	border-radius: 15px;
	padding: 0.25em 0.75em;
	margin-right: .5em;
}

.portfolio_desc {
	display: inline-block;
	max-width: 45%;
}

.left {
	margin: 0 2em 4em 4em;
	float: right;
}

.right {
	margin: 0 3em 4em 2em;
	float: left;
}

.portfolio_desc > p {
	margin: 1em 0 1.5em 0;
	font-size: 1.25em;
	color: #333;
}

.p_button {
	font-size: 1.1em;	
	display: inline-block;
	margin-right: 45px;
	padding: 15px 37px;
	border: 1px solid #0073CF;
	background-color: #0073CF;
	color: #f1f1f0;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;

}

.p_button:hover, .post_button:hover {
	border: 1px solid #CCE3F5;
	color: #333;
	background-color: #CCE3F5;
}

#index_footer {
	width: 100%;
	text-align: center;
	background: #0073CF;
	padding: 2.5em 0;
}

#footer_title {
	color: #FEFEFE;
	font-size: 1.75em;
	font-weight: 400;
}

.footer_hr {
    background-color: #FEFEFE;
    height: 2px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 2em;
    border: 0;
}

input, textarea {
	font-size: 1.3em;
}

#contact_bumper, #contact_content {
	background-color: #f1f1f0;
}

#contact_content {
	padding: 2em 0 5em 0;
}

#contact_bumper {
	display: block;
	height: 7em;
}

#contact_notification {
	width: 100%;
	margin-bottom: 1em;
	text-align: center;
}

#contact_notification > span {
	font-size: 1.25em;
	color: red;
}

#contact_form {
	width: 40%;
	margin: 0 auto;
}

#contact_section {
	max-width: 85em;
	margin: 0 auto;
}

.field_box > input, textarea  {
	width: 79%;
	height: 29px;
	border: none;
	background-color: #fff;
	color: #737373;
	padding: 10px 5px 10px 5px;
	padding-left: 21%;
	margin: 0;
	margin-bottom: 15px;
}

.field_box {
	position: relative;
}

.contact_label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1.4em;
    letter-spacing: .08em;
    color: white;
    background: #0073CF;
    padding: 10px 5px;
    text-transform: uppercase;
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
}

input:focus + .contact_label, input.focused + .contact_label, textarea:focus + .contact_label, textarea.focused + .contact_label {
	width: 18%;
	background-color: #CCE3F5;
	color: #737373;
}

.field_box:hover .contact_label {
	width: 18% ;
	background-color: #CCE3F5;
	color: #737373;
}

.contact_button {
	font-size: 1.4em;
	letter-spacing: .08em;
	text-align: center;	
	display: inline-block;
	width: 100%;
	padding: 10px 5px;
	background-color: #0073CF;
	color: #f1f1f0;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.contact_button:hover, .contact_label:hover {
	background-color: #CCE3F5;
	color: #737373;
}

.third_column {
	width: 32%;
	display: inline-block;
}

.one_column {
	width: 100%;
	display: inline-block;
}

.contact_title {
	color: #FEFEFE;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: .05em;
	margin-bottom: .75em;
}

.contact_body {
	color: #FEFEFE;
	font-size: 1.2em;
	font-weight: 400;
	letter-spacing: .05em;
}

.third_column > .icon {
    color: #FEFEFE;
    font-size: 1.7em;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.third_column > .icon:not(:last-child) {
    margin-right: .75em;
}

.third_column > .icon:hover {
    color: #333;
}

.c_button {
    font-size: 1.35em;
    display: inline-block;
    margin-top: 2.5em;
    padding: 15px 37px;
	background-color: #FEFEFE;
	color: #0073CF;
    border: 1px solid #FEFEFE;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.c_button:hover {
    color: #FEFEFE;
    background-color: #0073CF;
}

/* Post Styles */


#post_hero {
	width: 100%;
	height: 43vw;
	text-align: center;
}

.portfolio_hero, .portfolio_hero_small {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.portfolio_hero_small {
	display: none;
}

#article_text {
	width: 85%;
	max-width: 85em;
	margin: 4em auto;
}

#article_body {
	width: 100%;
}

#article_body > p {
    font-size: 1.35em;
    margin: 1.5em 0;
}

#article_body > p:last-child {
    margin: 1.5em 0 0 0;
}


#article_body > p > img, .post_video {
	display: block;
	width: 75%;
	margin: 2em auto;
}

.post_title {
	font-size: 2em;
	color: #0073CF;
	display: block;
}

#breadcrumb {
	width: 100%;
	margin: 1.5em 0 0 0;
}

#breadcrumb > a {
	font-size: 1.2em;
}

.post_button {
    font-size: 1.2em;
    display: inline-block;
    margin-top: .5em;
    padding: 15px 45px;
	border: 1px solid #0073CF;
	background-color: #0073CF;
	color: #f1f1f0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

@media screen and (min-width:1350px){

	#hero_name {
	    font-size: 4.1em;
	}

	#hero_desc {
	    font-size: 2.9em;
	}
}

@media screen and (max-width:1400px){
	#contact_form {
		width: 50%;
	}
}

@media screen and (max-width:1300px){
	#contact_form {
		width: 60%;
	}
}

@media screen and (max-width:899px){
	#hero_name {
	    font-size: 5.5vmax;
	}

	#hero_desc {
	    font-size: 3.8vmax;
	}

	.fourth_column, .avatar_column {
	    width: 100%;
	    display: block;
	    margin: 0 auto 3em auto;
	}

	#intro_photo {
	    width: 40%;
	}

	.three_fourths_column {
	    width: 80%;
	    display: block;
	    margin: 0 auto;
	}

	.three_fourths_column > h2 {
		padding: 0;
	}

	#intro_content p {
		padding: 0;
	}

	.p_item_container {
	    width: 100%;
	
	/*Flexbox Stuff*/
	    display: -webkit-box;
	    display: -moz-box;
	    display: box;
	    
	    -webkit-box-orient: vertical;
	    -moz-box-orient: vertical;
	    box-orient: vertical;

	}
	
	.fourth_column {
	    -webkit-box-ordinal-group: 1;
	    -moz-box-ordinal-group: 1;
	    box-ordinal-group: 1;
	}

	.portfolio_desc {
	    margin: 0 auto;
	    width: 80%;
	    max-width: none;
	    display: block;

	    /* Flexbox Stuff */
	    -webkit-box-ordinal-group: 2;
	    -moz-box-ordinal-group: 2;
	    box-ordinal-group: 2;

	}
	
	.portfolio_image {
	    display: block;
	    width: 80%;
	    margin: 0 auto;
	}

	.tech {
	    font-size: 1.1em;
	    padding: 0.15em 0.5em;
	}

	#contact_section {
    	width: 90%;	
	}

	.third_column {
	    width: 100%;
	}

	.third_column:not(:last-child) {
	    margin-bottom: 3.5em;
	}

	.contact_title {
		margin-bottom: .5em;
	}

	#contact_form {
		width: 90%;
	}

	.contact_label {
		display: none;
	}
	
	.field_box > input, textarea {
		padding-left: 0;
	}

	nav > li:not(:first-child) {
    	margin-left: 3em;
	}

	.portfolio_hero {
		display: none;
	}

	.portfolio_hero_small {
		display: block;
	}

	#post_hero {
		height: 50vw;
	}

	#article_body > p {
	    font-size: 1.5em;
	}
	#article_body > p > img, .post_video {
		width: 100%;
	}
}
