<footer id="index_footer">
	<div class="one_column">
		<h1 id="footer_title">Don't be shy</h1>
		<hr class="footer_hr">
	</div>
	<div id="contact_section">
		<div class="third_column">
			<h2 class="contact_title">Email</h2>
			<h2 class="contact_body">ericmargules@gmail.com</h2>
		</div>
		<div class="third_column">
			<h2 class="contact_title">Social</h2>
			<a class="icon fa fa-github" href="https://github.com/ericmargules"></a><a class="icon fa fa-linkedin-square" href="https://www.linkedin.com/in/ericmargules/"></a><a class="icon fa fa-instagram" href="https://www.instagram.com/dot_each_do/"></a>
		</div>
		<div class="third_column">
			<h2 class="contact_title">Phone</h2>
			<h2 class="contact_body">1 269 762 9487</h2>
		</div>
	</div>
	<div class="one_column">
		<a class="c_button" href="#">Get in touch</a>
	</div>
</footer>