<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <content>
    	
    	{% include header.html %}

		<article class="portfolio_post">
			<img class="portfolio_hero" src="{{ site.url }}/images/{{ page.hero }}">
			<div id="article_text">
				<text class="post_title">{{ page.post_title }}</text>
				<div class="tech_list">		
					{% for tech in page.tech_list %}
					<span class="tech">{{ tech }}</span>
					{% endfor %}
				</div>
				
				{{ content }}

				<div class="one_column" style="text-align: center">
					<a class="post_button" href="{{ page.github_url }}">See the code</a>
				</div>	
			</div>
		</article>

    	{% include footer.html %}

    </content>

  </body>

</html>