<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <overlay class="video_overlay hidden">
    </overlay>
    <a class="fa fa-times-circle video_button hidden" href="#"></a>
    <video class="post_video hidden" poster="{{ site.url }}/images/{{ page.hero }}" controls loop>
		<source src="{{ site.url }}/videos/{{ page.video }}" type="video/mp4">
		Your browser does not support the video tag.
	</video>
    <content>
    	
    	{% include header.html %}

		<article class="portfolio_post">
			<div id="post_hero">
				<img class="portfolio_hero" src="{{ site.url }}/images/{{ page.cover }}">
				<img class="portfolio_hero_small" src="{{ site.url }}/images/{{ page.hero_small }}">
				<div id="hero_float"></div>
				<a class="fa fa-play-circle hero_button" href="#"></a>
			</div>
			<div id="article_wrapper">
				<div id="article_text">
					<text class="post_title">{{ page.post_title }}</text>
					<div class="tech_list">		
						{% for tech in page.tech_list %}
						<span class="tech">{{ tech }}</span>
						{% endfor %}
					</div>
					
					<div id="article_body">

						{{ content }}

					</div>

					<div id="breadcrumb">
						<a class="body_link" href="{{ site.url }}#portfolio_content">← Back to Portfolio</a>
					</div>
					<div class="one_column" style="text-align: center">
						<a class="post_button" href="{{ page.github_url }}">See the code</a>
					</div>	
				</div>
			</div>
		</article>

    	{% include footer.html %}

    </content>

  </body>

</html>